<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>The 7 1/2-foot Prelit Frost Tipped Prelit Christmas Tree.</title>
  <meta name="description" content="This is the tree with textured tips and pinecones that create the appearance of hoar frost forming during a cold winter's night in a boreal pine forest. With a uniform shape that gently tapers from its base to its tip, the tree's branch tips are delicately flocked to recreate tiny crystals of ice. With 128 realistically detailed pine cones, it requires no further decoration, yet its 1,351 durable PVC tips will hold their shape to accommodate heavy ornaments when preferred. Strung with 750 clear white mini-lights rated for 3,000 hours of operation, they withstand bulb failures for reliable lighting-if one bulb goes out, the rest will remain lit. Its four-point, powder-coated steel base and trunk provides reliable stability. The tree's crown begins 4" above a floor to provide ample room for a tree skirt and presents. 90" H x 62" Diam. (43 lbs.)">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="http://findsavebuy.net/resources/skeleton/css/normalize.css">
  <link rel="stylesheet" href="http://findsavebuy.net/resources/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="http://findsavebuy.net/resources/skeleton/css/custom.css">


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "46dba9f7-b42d-4f17-bad7-f48c98773b3a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <section class="header">
      <h2 class="title">The 7 1/2-foot Prelit Frost Tipped Prelit Christmas Tree.</h2>
      <img alt="PHOTO MISSING" src="http://digital.hammacher.com/Items/11993/11993_180x180.jpg">
      <br>
      <p>This is the tree with textured tips and pinecones that create the appearance of hoar frost forming during a cold winter's night in a boreal pine forest. With a uniform shape that gently tapers from its base to its tip, the tree's branch tips are delicately flocked to recreate tiny crystals of ice. With 128 realistically detailed pine cones, it requires no further decoration, yet its 1,351 durable PVC tips will hold their shape to accommodate heavy ornaments when preferred. Strung with 750 clear white mini-lights rated for 3,000 hours of operation, they withstand bulb failures for reliable lighting-if one bulb goes out, the rest will remain lit. Its four-point, powder-coated steel base and trunk provides reliable stability. The tree's crown begins 4" above a floor to provide ample room for a tree skirt and presents. 90" H x 62" Diam. (43 lbs.)</p>
      <p><a class="button button-primary" href="http://findsavebuy.net/bb/products.php?safe=123&dsid=2188&did=228511699&kw=The 7 1/2-foot Prelit Frost Tipped Prelit Christmas Tree.&mid=1171">Visit Store</a>  <a class="button button-primary" href="http://findsavebuy.net/bb/products.php?safe=123&dsid=2188&did=228511699&kw=The 7 1/2-foot Prelit Frost Tipped Prelit Christmas Tree.&mid=1171">Buy Item</a></p>
      <br>
      <p>
       <span class='st_facebook_large' displayText='Facebook'></span>
       <span class='st_twitter_large' displayText='Tweet'></span>
       <span class='st_linkedin_large' displayText='LinkedIn'></span>
       <span class='st_pinterest_large' displayText='Pinterest'></span>
      </p>
    </section>
  </div>

<br><br><hr>

<center>
  <div typeof="v:Recipe" xmlns:v="http://rdf.data-vocabulary.org/#">
    <span rel="v:photo" >
      <img alt="The 7 1/2-foot Prelit Frost Tipped Prelit Christmas Tree. Photo" src="http://digital.hammacher.com/Items/11993/11993_180x180.jpg" width="70">
    </span>
    <br>
    <span property="v:name">
      The 7 1/2-foot Prelit Frost Tipped Prelit Christmas Tree.
    </span>
    has been rated
    <span rel="v:Review">
      <span typeof="v:Review-aggregate">
        <span rel="v:rating">
          <span typeof="v:Rating">
            <span property="v:average">
              4.0
            </span>
            stars out of
            <span property="v:count">
              105
            </span>
            customer reviews on this site.
          </span>
        </span>
      </span>
    </span>
</div>
</center>

<br><br>
<center><a href="/sitemap.xml">Sitemap</a></center>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>